
.HeaderContainer{

    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
}
.HeaderHeadLine{
text-align: center;
padding-left:2rem;
padding-right: 2rem;
background-color: hsl(6, 56%, 83%);
border-radius: 25px;
}

HeaderHeadLine{
    background-color: rebeccapurple;
}